* {
	box-sizing: border-box;
}

h1 {
	padding-top: 1rem;
	padding-bottom: 0.5rem;
}

.component-content {
	height: 60vh !important;
}

.component-buttons {
	padding: 2rem;
	height: 20vh !important;
}


.component-buttons > * + * {
	margin-left: 1rem;
}